.my-flow {
    overflow-x: hidden;
}

/* li{
    list-style-type: none;
} */
.my-bg {
    background-color: #ffefbe;
    border-radius: 10px;
}

/* .my-ul{
    list-style-type: circle;
} */

.canvas-img {
    /* border-radius: 10px; */
    height: 40%;
    width: 100%;
}

::-webkit-scrollbar {
    width: 10px;
}

.modal-height {
    height: 100%;
    /* width: 74%; */
}

.my-modal {
    position: relative;
    left: 30%;
}

li {
    list-style-type: none;
}


li {
    font-size: 14px;
}

h5 {
    font-size: 18px;
    font-weight: bold !important;
}

.my-width {
    width: 50% !important;

}

.custom-delete-modal {}

/* .modal-content {
    max-width: 100% !important;
    border-radius: 0.5rem;
    width: 32vw !important;
} */

.modal-h {
    height: '85vh' !important;
    overflow-y: auto !important;

}

.overflowY {
    overflow-y: scroll;
    overflow: hidden;
    height: 85vh !important;
}