.custom-nav{
    /* padding: 30px; */
    background-color: 
    #ecc65e;
    ;
}
.my-text{
    text-align: center !important;
}
.my-log{
    position: relative;
    left: 05%;
    text-align: center;
}
